@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/SpaceGrotesk-Medium.eot');
  src: url('../fonts/SpaceGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
  url('../fonts/SpaceGrotesk-Medium.woff') format('woff'),
  url('../fonts/SpaceGrotesk-Medium.ttf') format('truetype'),
  url('../fonts/SpaceGrotesk-Medium.svg#SpaceGrotesk-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/SpaceGrotesk-Regular.eot');
  src: url('../fonts/SpaceGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
  url('../fonts/SpaceGrotesk-Regular.woff') format('woff'),
  url('../fonts/SpaceGrotesk-Regular.ttf') format('truetype'),
  url('../fonts/SpaceGrotesk-Regular.svg#SpaceGrotesk-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Space Grotesk", "Helvetica Neue", "Helvetica";
  background: #fa0028;
  color: #fff;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.container {
  width: 95vw;
  margin: 3rem auto;
  position: relative;
}

a {
  text-decoration: none;
}

/* Type 
 ----------------------------- */

h1,
.f1 {
  font-size: 5.625rem;
  letter-spacing: -0.03em;
  line-height: 100%;
  font-weight: 500;
  font-feature-settings: "ss08" on, "ss02" on, "ss01" on, "salt" on, "cpsp" on;
}

/* Utils 
 ----------------------------- */
.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}

/* Table 
 ----------------------------- */
table {
  width: 100%;
}

table tbody td,
table thead td {
  border: none;
  border-bottom: 1px solid #f78088;
}

table.large thead {
  font-size: 1rem;
}

table.large tbody {
  font-size: 1.7rem;
}

table tbody tr {
  cursor: pointer;
  transition: background 150ms ease-in-out;
}

table tbody tr:hover {
  background: #f78088;
}

/* Rethink is the best aproch */
table thead td {
  padding-bottom: 0.8em;
}

table tbody td {
  padding-bottom: 0.6em;
  padding-top: 0.6em;
}

table tbody tr:last-child td {
  border-bottom: none;
}

/* General 
 ----------------------------- */

.letter {
  display: inline-block;
}

.title {
  padding-top: 26vh;
}

.auxNav {
  position: absolute;
  top: 0;
}

.extend span {
  display: inline-block;
}

.tileArtist {
  margin: 0;
  padding: 0;
  padding-top: 26vh;
}

.arrowback {
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: transform 200ms ease;
}

.arrowback:hover {
  transform: rotate(35deg);
}

a.link {
  --color: #fff;
  position: relative;
  color: var(--color);
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  transition: color 150ms ease;
}

a.link:before {
  width: 100%;
  height: 140%;
  content: "";
  position: absolute;
  background-size: 1px 1em;
  background-size: 1px 1em;
  box-shadow: inset 0 -0.05em var(--color), inset 0 -0.1em #fff;
  transition: box-shadow 150ms ease;
  transform-origin: 0% 0%;
}

a.link:hover {
  --color: #f78088;
}

a.link:after {
  content: " ↗";
  transition: transform 150ms ease;
}

.sticky {
  display: table;
}
.sticky tr {
  position: fixed;
  width: 95vw;
  background: #fa0028;
  padding: 1.5rem 0 1rem 0;
  display: table;
  top: -4rem;
  transform: translateY(4rem);
  transition: transform 400ms ease-out;
}
.sticky td {
  border-bottom: none;
}

.check svg {
  opacity: 0;
}

.check.active svg {
  opacity: 1;
}

.filterIsOpen {
  opacity: 0.2;
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
}

.filterIsOpen table {
  pointer-events: none;
}

/* Responsive
 ----------------------------- */
@media (max-width: 480px) {
  :root {
    font-size: 12px;
  }

  h1,
  .f1 {
    font-size: 4rem;
    letter-spacing: -0.02em;
  }

  .dn {
    display: none;
  }

  .tileArtist {
    padding: 2rem 0;
  }

  .arrowback {
    transition: none;
  }

  .arrowback:hover {
    transform: rotate(0deg);
  }

  .extend span {
    display: inline;
  }
}

@media (min-width: 1600px) {
  :root {
    font-size: 18px;
  }
}

.w30 {
  width: 30% !important;
}